* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  /*写一个从上到下的背景渐变色 以 #B83434 为主色 白色为面积较大的颜色，从上到下渐变*/
  /*background: linear-gradient(180deg, #B83434 0%, #ffffff 100%);*/
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
